<!-- start custom head snippets -->
<link href="https://micro.blog/juandpinto" rel="me" />
<span style="display:none" class="h-card">
  <img class="u-photo" src="https://juandpinto.com/images/avatar.jpg" alt="Photo of Juan Daniel Pinto" />
  <a class="p-name u-url" href="https://juandpinto.com">Juan Daniel Pinto</a>
  <a class="u-email" href="mailto:juan@juandpinto.com">juan@juandpinto.com</a>,
  <span class="p-locality">Provo</span>
  <span class="p-region">Utah</span>
  <span class="p-postal-code">84604</span>
  <span class="p-country-name">United States of America</span>
  <span class="dt-bday">1988-06</span>
  <span class="p-sex">Male</span>
</span>
<!-- insert favicons. use http://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
