
/* Page Updates */

.page ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page li {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.page h4 {
  margin: 20px 0 0 0;
  color: #a0a0a0;
  font-size: 16pt;
  font-weight: normal;
}

.page h2 {
  margin: 40px 0 0 0;
}

article div.postmeta {
  margin: 0 0 10px 0;
}

article.micropost p > img {
  display: block;
  margin: 0 auto;
  max-width: 60%;
  padding: 10px;
}

.micropost {
  background-color: #F0F2F5;
  margin: 40px auto;
  padding: 10px;
  max-width: 675px;
}

.post, .page, .post-groups {
  margin: 40px auto;
  max-width: 675px;
}

/* Post */

figure {
  margin: 20px 0 20px 0;
}

figure img {
  width: 100%;
}

figcaption {
  margin: auto;
  text-align: center;
  font-size: 12px;
  color: #999999;
}

.highlight {
  overflow: scroll;
}

.yellow-highlight {
  background-color: #FFFEDC;
}

.inline-svg {
  display: inline-block;
  height: 1em;
  width: 1em;
  /* top: 0.15rem; */
  position: relative;
  padding: 0 0.1em;
}

.footer_links {
  flex-wrap: wrap;
  margin: auto;
  text-align: center;
  font-size: 2em;
}

.footer_links > a {
  color: #ffffff;
}

.footer_links .inline-svg{
  height: 2rem;
  width: 2rem;
}

.intro {
  /* background-color: #545454; */
  /* color: #ffffff; */
  /* max-width: 780px; */
  /* width: 100%; */
  min-height: 300px;
  padding: 10px;
  /* margin: 40px auto; */
  background-color: #545454;
  color: #ffffff;
  margin: 0;
  display: flex;
}

.intro-card {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 720px;
  border-top: solid 1px;
  border-bottom: solid 1px;
}

.intro-card > div {
  flex: 1;
  margin: 10px;
}

.intro_text {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 720px;
}

.intro_text a {
  color: #cccccc;
}

.intro_text > div {
  flex: 1;
  margin: 10px;
}

@media screen
and (max-width: 780px) {

  .intro_text {
    width: 100%;
    text-align: justify;
  }

  .intro_text > div {
    flex: auto;
    width: 100%;
  }

  .intro-card {
    width: 100%;
    border: none;
  }

  .intro-card > div {
    flex: auto;
    width: 100%;
  }
}


.site-logo {
  /* display: inline-block; */
  position: relative;
  justify-content: center;
  /* padding-right: 3em; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* max-width: 300px; */
  flex: 0 auto;
}

.site-logo-img {
  width: 150px;
  /* height: 30%; */
  border: 3px solid #ffffff;
  border-radius: 100%;
  display: block;
  margin: auto;
}






/* ==========================================================================
   Alignment
   ========================================================================== */

.align-baseline {
  vertical-align: baseline !important;
} /* Browser default */
.align-top {
  vertical-align: top !important;
}
.align-middle {
  vertical-align: middle !important;
}
.align-bottom {
  vertical-align: bottom !important;
}
.align-text-bottom {
  vertical-align: text-bottom !important;
}
.align-text-top {
  vertical-align: text-top !important;
}

/*
   Image Alignment
   ========================================================================== */

.align-center,
div.align-center,
a img.align-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

figure.align-center {
  img {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  figcaption {
    text-align: center;
  }
}

.align-right,
a img.align-right {
  margin-bottom: 1rem;
  margin-left: 1rem;
  float: right;
}

.align-left,
a img.align-left {
  margin-right: 1rem;
  margin-bottom: 1rem;
  float: left;
}






/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

/* Navbar links */
#navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar .left {
    float: left;
    font-size: 18pt;
    font-weight: lighter;
    padding-left:30px;
}

/* Page content */
.content {
  padding-top: 3em;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.floatingnav {
  /* width: calc(100vh - 100px);
  border-radius: 2px; */
  box-shadow: 0px 1px 5px #333;
  position: fixed;
  top: 0;
  width: 100%;
}





.navbar-toggle {
  position: absolute;
  top: 12px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.main-nav {
  list-style-type: none;
  display: none;
  padding-right:20px;
  margin: 0;
  flex-direction: column;
  text-align: center;
}

.main-nav li {
    /* text-align: center; */
    margin: auto;
    /* margin-top: 30px; */
}

.active {
  display: inline-flex;
  padding: 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
  }

  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
}

  .navbar-toggle {
    display: none;
  }
}



.micropost > ol, .micropost > ul, .post > ol, .post > ul {
  color: #666666;
  /* font-size: 18px; */
  line-height: 28px;
}





.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
  align-items: center;
  }
.grid img {
  /* border: 1px solid #ccc; */
  /* box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3); */
  max-width: 100%;
}






.post-mentions {
    padding-top: 15px;
    margin-top: 10px;
    border-top: 2px solid #AEADAD;
    font-size: 16px;
}
.post-mentions ul {
    list-style: none;
    padding: 0;
    margin-left: 0;
    color: #666666;
}
.post-mentions li {
    margin: 10px;
    background-color: #F0F2F5;
}

.micro-responses {
  margin: auto;
  max-width: 675px;
}


.micropost-footer {
  display: flex;
}

.micropost-footer > a{
  font-size: 12px;
  color: #888888;
  /* margin: 0; */
}

.u-syndication {
  margin-left: 1em;
}





/* .parallax {
-moz-perspective: 300px;
-webkit-perspective: 300px;
perspective: 300px;
height: 500px;
height: 100vh;
overflow-x: hidden;
overflow-y: auto;
-moz-perspective-origin-x: 100%;
-webkit-perspective-origin-x: 100%;
perspective-origin-x: 100%;
}

.parallax {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: -1;
}

.parallax__layer--back {
-moz-transform: translateZ(-300px) scale(2);
-webkit-transform: translateZ(-300px) scale(2);
transform: translateZ(-300px) scale(2);
z-index: 3;
}

.parallax__layer {
position: absolute;
top: 0px;
right: 0px;
bottom: 0px;
left: 0px;
-moz-transform-origin-x: 100%;
-webkit-transform-origin-x: 100%;
transform-origin-x: 100%;
}

.fullsize-background-image {
background-size: cover;
background-repeat: no-repeat;
background-attachment: scroll;
}

.parallax-container {
position: relative;
overflow: hidden;
height: 500px;
height: 100vh;
} */


.parallax {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url(/images/background-image.jpg);
  background-size: cover;
  background-position: 25%;
}

#changingWord {
  position: absolute;
  font-size: 30px;
  font-family: Helvetica, Sans-Serif;
  color: #0278be;
  top: 170px;
  right: 45px;
}

@media screen and (max-width: 550px) {
  .logo {
    width: 400px;
  }

  #changingWord {
    top: 135px;
  }
}

@media screen and (max-width: 420px) {
  .logo {
    width: 300px;
  }

  #changingWord {
    font-size: 25px;
    top: 100px;
    right: 30px;
  }
}
