{{ partial "site_header.html" . }}
{{ partial "page_header.html" . }}

  <main class="content">

    <article class="post h-entry">
      {{ if (not (isset .Params "externalurl")) }}
        <h2><a rel="full-article" href="{{ .Permalink }}" class="p-name u-url">{{ .Title }}</a></h2>
      {{ else }}
        <h2><a rel="remote-article" href="{{ .Params.externalurl }}" class="p-name">→ {{ .Title }}</a> <a href="{{ .Permalink }}">∞</a></h2>
      {{ end }}

      <div class="postmeta">Posted on <time datetime="{{ .Date }}" pubdate="" class="dt-published">{{ .Date.Format "January 2, 2006" }}</time>
        <span class="categories">
          {{ range $i, $v := .Params.categories }}
            <a class="category" href="/categories/{{ $v | urlize }}">{{ $v }}</a>{{ if ne (len $.Params.categories) (add $i 1) }}, {{ end }}
          {{ end }}
        </span>
      </div>

      <div class="e-content">
        {{ .Content }}
      </div>

      <div class="post-mentions" id="post-mentions" style="display:none">
        <center><h3>Webmentions</h3></center>
	      <ul class="mentions-list" id="mentions-list"></ul>
      </div>

      <span style="display:none" class="p-author h-card">
        <img class="u-photo" src="https://juanpinto.me/images/juan.jpg" alt="Photo of Juan Pinto" />
        <a class="p-name u-url" rel="me" href="https://juanpinto.me">Juan Pinto</a>
        <a class="u-email" href="mailto:juan@juanpinto.me">juan@juanpinto.me</a>,
        <span class="p-country-name">United States of America</span>
        <span class="dt-bday">1988-06</span>
        <span class="p-sex">Male</span>
      </span>
    </article>


  </main>

{{ partial "page_footer.html" . }}
{{ partial "site_footer.html" . }}
