{{ partial "site_header.html" . }}
{{ partial "page_header.html" . }}

{{ if not ($.Page.Scratch.Get "photoswipeloaded") }}
  {{ $.Page.Scratch.Set "photoswipeloaded" 1 }}
  {{ partial "load-photoswipe.html" (dict "page" . ) }}
{{ end }}

  <main class="content">

    <article class="post h-entry">
      {{ if (not (isset .Params "externalurl")) }}
        <h2 class="p-name"><a rel="full-article" class="u-url" href="{{ .Permalink }}">{{ .Title }}</a></h2>
      {{ else }}
        <h2><a rel="remote-article" class="p-name" href="{{ .Params.externalurl }}">→ {{ .Title }}</a> <a href="{{ .Permalink }}">∞</a></h2>
      {{ end }}

      <div class="postmeta">Posted on <time datetime="{{ .Date }}" pubdate="" class="dt-published">{{ .Date.Format "January 2, 2006" }}</time>
        <span class="categories">
          {{ range $i, $v := .Params.categories }}
            <a class="category" href="/categories/{{ $v | urlize }}">{{ $v }}</a>{{ if ne (len $.Params.categories) (add $i 1) }}, {{ end }}
          {{ end }}
        </span>
      </div>

      <div class="e-content" syle="margin-bottom:3em;">
        {{ .Content }}
      </div>

      <div class="post-mentions" id="post-mentions" style="display:none">
        <center><h3>Responses</h3></center>
	      <ul class="mentions-list" id="mentions-list"></ul>
      </div>

      <span style="display:none" class="p-author h-card">
        <img class="u-photo" src="https://juanpinto.me/images/site/juan.jpg" alt="Photo of Juan Pinto" />
        <a class="p-name u-url" rel="me" href="https://juanpinto.me">Juan Pinto</a>
        <a class="u-email" href="mailto:juan@juanpinto.me">juan@juanpinto.me</a>,
        <span class="p-country-name">United States of America</span>
        <span class="dt-bday">1988-06</span>
        <span class="p-sex">Male</span>
      </span>

      {{ if isset .Params "mf-syndication" }}
        <div stype="display:none;">
          {{ range (index .Params "mf-syndication") }}
            {{ $syn := . }}
            {{ with (hasPrefix . "https://twitter.com") }}
              <a class="u-syndication" href="{{ $syn }}"></a>
            {{ end }}
          {{ end}}
      </div>
      {{ end }}

    </article>


  </main>

{{ partial "page_footer.html" . }}
{{ partial "site_footer.html" . }}
