{{ partial "site_header.html" . }}
{{ partial "page_header.html" . }}

  <main class="content">

    <article class="post h-entry">
      {{ if (not (isset .Params "externalurl")) }}
        <h2><a rel="full-article" href="{{ .Permalink }}" class="p-name u-url">{{ .Title }}</a></h2>
      {{ else }}
        <h2><a rel="remote-article" href="{{ .Params.externalurl }}" class="p-name">→ {{ .Title }}</a> <a href="{{ .Permalink }}">∞</a></h2>
      {{ end }}

      <div class="postmeta">Posted on <time datetime="{{ .Date }}" pubdate="" class="dt-published">{{ .Date.Format "January 2, 2006" }}</time>
        <span class="categories">
          {{ range $i, $v := .Params.categories }}
            <a class="category" href="/categories/{{ $v | urlize }}">{{ $v }}</a>{{ if ne (len $.Params.categories) (add $i 1) }}, {{ end }}
          {{ end }}
        </span>
      </div>

      <div class="post e-content" style="margin:0;">
        {{ .Content }}
      </div>
    </article>


  </main>

{{ partial "page_footer.html" . }}
{{ partial "site_footer.html" . }}
