<p class="p-note">
    <span class="hi">Hi, I'm <span class="p-name">Juan<span style="display:none;"> Pinto</span></span><a class="u-email" href="mailto:juan@juanpinto.me"></a>.</span>
    I'm a husband and father 👨‍👩‍👧‍👦, educator 👨🏽‍🏫, technology enthusiast 💻, and open science advocate 🔬. I'm currently a graduate student at the University of Michigan studying <em>design and technologies for learning</em>. My background is in language education and have experience teaching multiple languages, both domestically and abroad. This site serves as the home of <a href="/microblog/">my thoughts</a>, <a href="/blog/">my rants</a>, and information about <a href="/projects/">my current projects</a>. Read more about me <a href="/about/">here</a>.
  </p>
