<footer>
  <div class="footer_text">
      <!-- <div class="site-logo">
          <img src="/images/juan.jpg" class="site-logo-img" />
      </div> -->

      {{ if not .IsHome }}
      <div class="h-card p-author">
        <p class="p-note">
          Hi, I'm <span class="p-name">Juan<span style="display:none;"> Pinto</span></span><a class="u-url" rel="me" href="https://juanpinto.me"></a><a class="u-email" href="mailto:juan@juanpinto.me"></a><img class="u-photo" src="https://juanpinto.me/images/juan.jpg" style="display:none;">. I'm a husband and father 👨‍👩‍👧‍👦, language pedagogue 👨🏽‍🏫, technology enthusiast 💻, and open science advocate 🔬. I work as a language educator and researcher and have experience teaching multiple languages, both domestically and abroad. I'm currently spending a year in Israel as a Fulbright English Teaching Assistant at <a href="/oranim/">Oranim Academic College of Education</a>. This site serves as the home of <a href="/microblog/">my thoughts</a>, <a href="/blog/">my rants</a>, and information about <a href="/projects/">my current projects</a>. Read more about me <a href="/about/">here</a>.
        </p>
      </div>
      {{ else }}
        <div>
        </div>
      {{ end }}

      <!-- {{ if isset .Site.Author "flickrid" | and ( not ( eq .Site.Author.flickrid "" ) ) }}
      <div>
          <h3><a href="https://www.flickr.com/photos/{{ .Site.Author.flickrid }}/">Photo Stream</a></h3>
          <div id="photos"></div>
        </div>
      </div>
      {{ end }} -->
  </div>

  <div class="footer_links">
      <a href="https://micro.blog/juan" rel="me">{{ partial "fontawesome.html" "micro-blog" }}</a>
      <a href="https://github.com/juandpinto" rel="me">{{ partial "fontawesome.html" "github" }}</a>
      <a href="https://mastodon.social/@juandpinto" rel="me">{{ partial "fontawesome.html" "mastodon" }}</a>
      <a href="https://twitter.com/juanpinto88" rel="me">{{ partial "fontawesome.html" "twitter" }}</a>
      <a href="https://www.linkedin.com/in/juandpinto/" rel="me">{{ partial "fontawesome.html" "linkedin" }}</a>
      <a href="mailto:juan@juanpinto.me">{{ partial "fontawesome.html" "envelope-solid" }}</a>
  </div>



  {{ if .Site.Params.showcopyright }}
    <div class="footer_copyright">
      &copy; {{ now.Format "2006" }} <a href="{{ .Site.Author.aboutpage }}">{{ .Site.Author.firstname }} {{ .Site.Author.lastname }}</a>
      {{ with .Site.Author.location }} - Made in {{ . }}{{ end }}
    </div>
  {{ end }}
</footer>
