<article class="h-entry">
  <div class="micropost">
    <div class="e-content p-name">
      {{ .Content }}
      {{ if isset .Params "mf-photo" }}
        <div class="photos">
          {{ range (index .Params "mf-photo") }}
            <figure>
              <a href="{{ . }}">
                <img src="{{ . }}" class="u-photo align-center">
              </a>
            </figure>
          {{ end }}
        </div>
      {{ end }}
    </div>
    <div class="micropost-footer">
      <a class="micropost-date u-url" href="{{ .Permalink }}"><aside class="dates dt-published">{{ .Date.Format "Mon, Jan 2, 2006 15:04:05 MST" }}</aside></a>
      {{ if isset .Params "mf-syndication" }}
        {{ range (index .Params "mf-syndication") }}
          {{ $syn := . }}
          {{ with (hasPrefix . "https://twitter.com") }}
          <a class="u-syndication" href="{{ $syn }}"><i class="fab fa-twitter"></i></a>
          {{ end }}
          {{ with (hasPrefix . "https://www.instagram.com") }}
            <a class="u-syndication" href="{{ $syn }}"><i class="fab fa-instagram"></i></a>
          {{ end }}
          {{ with (hasPrefix . "https://mastodon.social") }}
            <a class="u-syndication" href="{{ $syn }}"><i class="fab fa-mastodon"></i></a>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </div>
  <div class="post-mentions micro-responses" id="post-mentions" style="display:none">
    <ul class="mentions-list" id="mentions-list"></ul>
  </div>
</article>
