{{ partial "site_header.html" . }}
{{ partial "page_header.html" . }}

<section class="parallax" id="parallax-div" style="background-position-y: 0px;">
  <div style="position:relative; bottom:13%; left:5%;">
    <img class="logo" src="images/logo.png" />
    <div id="changingWord">educator</div>
  </div>
</section>

<section class="intro h-card p-author">
    <div class="intro-card">
        <div class="site-logo">
            <a class="u-url" rel="me" href="https://juanpinto.me"><img src="/images/juan.jpg" class="site-logo-img u-photo"></a>
        </div>
        <div class="intro_text" style="flex-basis:40%;">
          <p class="p-note">
            Hi, I'm <span class="p-name">Juan<span style="display:none;"> Pinto</span></span><a class="u-email" href="mailto:juan@juanpinto.me"></a>. I'm a husband and father 👨‍👩‍👧‍👦, language pedagogue 👨🏽‍🏫, technology enthusiast 💻, and open science advocate 🔬. I work as a language educator and researcher and have experience teaching multiple languages, both domestically and abroad. I'm currently spending a year in Israel as a Fulbright English Teaching Assistant at <a href="/oranim/">Oranim Academic College of Education</a>. This site serves as the home of <a href="/microblog/">my thoughts</a>, <a href="/blog/">my rants</a>, and information about <a href="/projects/">my current projects</a>. Read more about me <a href="/about/">here</a>.
          </p>
        </div>
    </div>
</section>



<section class="content list" style="background-image: linear-gradient(to bottom right, rgb(184, 182, 175), white); background-attachment:fixed; padding-bottom:3em;">
  <center>
    <h1>— Read my latest blog posts —</h1>
    <p style="max-width:500px; color:#666666; margin:0 15px;">Home to long-ish-form articles on topics that are interesting to me. Can't promise they'll be interesting to you.</p>
    <a href="/blog"><button class="see-more"><span>SEE MORE</span></button></a>
  </center>
  <br/>
  <div class="home-blog-preview">
    {{ range first 3 (where .Site.Pages "Section" "blog") }}
      {{ $url := replace .Permalink .Site.BaseURL "" }}

      <!-- Start post -->
      <article class="post h-entry" style="margin:0">
        {{ if (not (isset .Params "externalurl")) }}
          <h2 class="p-name"><a rel="full-article" class="u-url" href="{{ .Permalink }}">{{ .Title }}</a></h2>
        {{ else }}
          <h2><a rel="remote-article" class="p-name" href="{{ .Params.externalurl }}">→ {{ .Title }}</a> <a href="{{ .Permalink }}">∞</a></h2>
        {{ end }}

        <div class="postmeta">Posted on <time datetime="{{ .Date }}" pubdate="" class="dt-published">{{ .Date.Format "January 2, 2006" }}</time>
          {{ if (isset .Params "categories") }}
             in
            <span class="categories">
              {{ range $i, $v := .Params.categories }}
                <a class="category" href="/categories/{{ $v | urlize }}">{{ $v }}</a>{{ if ne (len $.Params.categories) (add $i 1) }}, {{ end }}
              {{ end }}
            </span>
          {{ end }}
        </div>

        <p class="p-summary">
          {{ if (not (isset .Params "externalurl")) }}
            {{ .Summary }}
          {{ else }}
            {{ .Content }}
          {{ end }}
        </p>

        {{ if .Truncated }}
          {{ if (not (isset .Params "externalurl")) }}
            <a class="continue" rel="full-article" href="{{ .Permalink }}">Continue Reading »</a>
          {{ end }}
        {{ end }}
      </article>
      <!-- End post -->

    {{ end }}
  </div>
</section>

<section class="content list" style="padding-bottom:3em;">
  <center>
    <h1>— Check out my latest social posts —</h1>
    <p style="max-width:500px; color:#666666; margin:0 15px;">Short blurbs on the goings on of my life and that of my family.</p>
    <a rel="feed" href="/microblog"><button class="see-more"><span>SEE MORE</span></button></a>
  </center>

  <br/>
  <div class="home-social-preview">
    {{ range first 3 (where .Site.Pages "Section" "microblog") }}
      {{ $url := replace .Permalink .Site.BaseURL "" }}
      <div>

        <!-- Begin micropost -->

        <article class="micropost h-entry" style="margin:0;">
          {{ if isset .Site.Params "summarizemicroposts" | and ( eq .Site.Params.summarizemicroposts true ) }}
            {{ if (not (isset .Params "externalurl")) }}
              <h2><a rel="full-article" href="{{ .Permalink }}">{{ .Title }}</a></h2>
            {{ else }}
                <h2><a rel="remote-article" href="{{ .Params.externalurl }}">→ {{ .Title }}</a> <a href="{{ .Permalink }}">∞</a></h2>
            {{ end }}

            <div class="postmeta">Posted on <time datetime="{{ .Date }}" pubdate="">{{ .Date.Format "January 2, 2006" }}</time>
              {{ if (isset .Params "categories") }}
                in
                <span class="categories">
                  {{ range $i, $v := .Params.categories }}
                    <a class="category" href="/categories/{{ $v | urlize }}">{{ $v }}</a>{{ if ne (len $.Params.categories) (add $i 1) }}, {{ end }}
                  {{ end }}
                </span>
              {{ end }}
            </div>

            <p>
              {{ if or (not (isset .Params "externalurl")) }}
                {{ .Summary }}
              {{ else }}
                {{ .Content }}
              {{ end }}
            </p>

            {{ if .Truncated }}
              {{ if (not (isset .Params "externalurl")) }}
                <a class="continue" rel="full-article" href="{{ .Permalink }}">Continue Reading »</a>
              {{ end }}
            {{ end }}
          {{ else }}
            <div class="e-content">
              {{ .Content }}
              {{ if isset .Params "mf-photo" }}
                <div class="photos">
                  {{ range (index .Params "mf-photo") }}
                    <figure>
                      <a href="{{ . }}">
                        <img src="{{ . }}" class="u-photo align-center">
                      </a>
                    </figure>
                  {{ end }}
                  {{ if not ($.Page.Scratch.Get "photoswipeloaded") }}
                    {{ $.Page.Scratch.Set "photoswipeloaded" 1 }}
                    {{ partial "load-photoswipe.html" (dict "page" . ) }}
                  {{ end }}
                </div>
              {{ end }}
            </div>
            <div class="micropost-footer">
              <a class="micropost-date u-url" href="{{ .Permalink }}"><aside class="dates dt-published">{{ .Date.Format "2006/01/02 3:04 PM MST" }}</aside></a>
              {{ if isset .Params "mf-syndication" }}
                {{ range (index .Params "mf-syndication") }}
                  {{ $syn := . }}
                  {{ with (hasPrefix . "https://twitter.com") }}
                  <a class="u-syndication" href="{{ $syn }}"><i class="fab fa-twitter"></i></a>
                  {{ end }}
                  {{ with (hasPrefix . "https://www.instagram.com") }}
                    <a class="u-syndication" href="{{ $syn }}"><i class="fab fa-instagram"></i></a>
                  {{ end }}
                {{ end }}
              {{ end }}
            </div>
          {{ end }}
        </article>


        <!-- End micropost -->

      </div>
    {{ end }}
  </div>
</section>


  <!-- <main class="content list" style="padding-top:0;">
    {{ partial "preview_list.html" . }}
  </main> -->

{{ partial "page_footer.html" . }}
{{ partial "site_footer.html" . }}
