{{ partial "site_header.html" . }}
{{ partial "page_header.html" . }}

<!-- <div class="parallax">
  <div class="parallax__layer parallax__layer--back fullsize-background-image" style="background-image: url('images/background-image.jpg'); "></div>
</div> -->


<div class="parallax" id="parallax-div">
  <h2>Hi!</h2>
</div>


<div class="intro h-card p-author">
    <div class="footer_text">
        <div class="site-logo">
            <a class="u-url" rel="me" href="https://juanpinto.me"><img src="/images/juan.jpg" class="site-logo-img u-photo"></a>
        </div>
        <div class="intro_text" style="flex-basis:40%;">
          <p class="p-note">
            Hi, I'm <span class="p-name">Juan<span style="display:none;"> Pinto</span></span><a class="u-email" href="mailto:juan@juanpinto.me"></a>. I'm a husband and father 👨‍👩‍👧‍👦, language pedagogue 👨🏽‍🏫, technology enthusiast 💻, and open science advocate 🔬. I work as a language educator and researcher and have experience teaching multiple languages, both domestically and abroad. I'm currently spending a year in Israel as a Fulbright English Teaching Assistant at <a href="/oranim/">Oranim Academic College of Education</a>. This site serves as the home of <a href="/microblog/">my thoughts</a>, <a href="/blog/">my rants</a>, and information about <a href="/projects/">my current projects</a>. Read more about me <a href="/about/">here</a>.
          </p>
        </div>
    </div>
</div>

  <main class="content list" style="padding-top:0;">
    {{ partial "preview_list.html" . }}
  </main>

{{ partial "page_footer.html" . }}
{{ partial "site_footer.html" . }}
