{{ partial "site_header.html" . }}
{{ partial "page_header.html" . }}

{{ partial "load-photoswipe.html" (dict "page" . ) }}

<section class="parallax" id="parallax-div" style="background-position-y: 0px;">
  <div class="logo-div">
    <img class="logo" src="images/site/logo.png" />
    <div id="changingWord">educator</div>
  </div>
  <div class="scroll bounce">
    <strong>Scroll down</strong><br/>
    <i class="fas fa-chevron-down"></i>
  </div>
</section>

<section class="intro h-card p-author">
    <div class="intro-card">
        <div class="site-logo">
            <a class="u-url" rel="me" href="https://juanpinto.me"><img src="/images/site/juan.jpg" class="site-logo-img u-photo"></a>
        </div>
        <div class="intro_text" style="flex-basis:40%;">
          {{ partial "bio.html" . }}
        </div>
    </div>
</section>



<section class="content list">
  <center>
    <h1>— Read my latest blog posts —</h1>
    <p style="max-width:500px; color:#666666; margin:0 15px;">Home to long-ish-form articles on topics that are interesting to me. Can't promise they'll be interesting to you.</p>
    <a href="/blog"><button class="see-more"><span>SEE MORE</span></button></a>
  </center>
  <br/>
  <div class="home-blog-preview">
    {{ range first 3 (where .Site.Pages "Section" "blog") }}
      {{ $url := replace .Permalink .Site.BaseURL "" }}

      <!-- Start post -->
      <article class="post h-entry" style="margin:0">
        {{ if (not (isset .Params "externalurl")) }}
          <h2 class="p-name"><a rel="full-article" class="u-url" href="{{ .Permalink }}">{{ .Title }}</a></h2>
        {{ else }}
          <h2><a rel="remote-article" class="p-name" href="{{ .Params.externalurl }}">→ {{ .Title }}</a> <a href="{{ .Permalink }}">∞</a></h2>
        {{ end }}

        <div class="postmeta">Posted on <time datetime="{{ .Date }}" pubdate="" class="dt-published">{{ .Date.Format "January 2, 2006" }}</time>
          {{ if (isset .Params "categories") }}
             in
            <span class="categories">
              {{ range $i, $v := .Params.categories }}
                <a class="category" href="/categories/{{ $v | urlize }}">{{ $v }}</a>{{ if ne (len $.Params.categories) (add $i 1) }}, {{ end }}
              {{ end }}
            </span>
          {{ end }}
        </div>

        <p class="p-summary">
          {{ if (not (isset .Params "externalurl")) }}
            {{ .Summary }}
          {{ else }}
            {{ .Content }}
          {{ end }}
        </p>

        {{ if .Truncated }}
          {{ if (not (isset .Params "externalurl")) }}
            <a class="continue" rel="full-article" href="{{ .Permalink }}">Continue Reading »</a>
          {{ end }}
        {{ end }}
      </article>
      <!-- End post -->

    {{ end }}
  </div>
</section>


<section class="content list" style="padding-bottom:3em;">
  <center>
    <h1>— Check out my latest social posts —</h1>
    <p style="max-width:500px; color:#666666; margin:0 15px;">Short blurbs on the goings on of my life and that of my family.</p>
    <a rel="feed" href="/microblog"><button class="see-more"><span>SEE MORE</span></button></a>
  </center>

  <br/>
  <div class="home-social-preview">
    {{ range first 3 (where .Site.Pages "Section" "microblog") }}
      {{ $url := replace .Permalink .Site.BaseURL "" }}
      <!-- <div> -->

        <!-- Begin micropost -->

        {{ partial "preview_micropost.html" . }}


        <!-- End micropost -->

      <!-- </div> -->
    {{ end }}
  </div>
</section>


  <!-- <main class="content list" style="padding-top:0;">
    {{ partial "preview_list.html" . }}
  </main> -->

{{ partial "page_footer.html" . }}
{{ partial "site_footer.html" . }}
