{{ partial "site_header.html" . }}
{{ partial "page_header.html" . }}

  <main class="content h-entry">
   <article class="micropost">
     <div class="micropost e-content p-name" style="padding:0; margin:0;">
       {{ .Content }}
     </div>
     <div class="micropost-footer">
       <a class="micropost-date u-url" href="{{ .Permalink }}"><aside class="dates dt-published">{{ .Date.Format "2006/01/02 3:04 PM MST" }}</aside></a>
       {{ if isset .Params "twitter" }}
         <a class="u-syndication" href="{{ .Params.twitter }}">
           <span class="inline-svg" style="vertical-align:-0.05em">
           {{- $fname:=print "fontawesome/twitter.svg" -}}
           {{- $path:="<path" -}}
           {{- $fill:="<path fill=\"#888888\"" -}}
           {{ replace (readFile $fname) $path $fill | safeHTML }}
           </span>
         </a>
       {{ end }}
     </div>
   </article>
   <div class="post-mentions micro-responses" id="post-mentions" style="display:none">
     <center><h3>Responses</h3></center>
     <ul class="mentions-list" id="mentions-list"></ul>
   </div>

   <span style="display:none" class="p-author h-card">
     <img class="u-photo" src="https://juanpinto.me/images/juan.jpg" alt="Photo of Juan Pinto" />
     <a class="p-name u-url" rel="me" href="https://juanpinto.me">Juan Pinto</a>
     <a class="u-email" href="mailto:juan@juanpinto.me">juan@juanpinto.me</a>,
     <span class="p-country-name">United States of America</span>
     <span class="dt-bday">1988-06</span>
     <span class="p-sex">Male</span>
   </span>
  </main>

{{ partial "page_footer.html" . }}
{{ partial "site_footer.html" . }}
