{{ partial "site_header.html" . }}
{{ partial "page_header.html" . }}

{{ if not ($.Page.Scratch.Get "photoswipeloaded") }}
  {{ $.Page.Scratch.Set "photoswipeloaded" 1 }}
  {{ partial "load-photoswipe.html" (dict "page" . ) }}
{{ end }}

  <main class="content">

   {{ partial "preview_micropost.html" . }}

   <!-- <span style="display:none" class="p-author h-card">
     <img class="u-photo" src="https://juanpinto.me/images/site/juan.jpg" alt="Photo of Juan Pinto" />
     <a class="p-name u-url" rel="me" href="https://juanpinto.me">Juan Pinto</a>
     <a class="u-email" href="mailto:juan@juanpinto.me">juan@juanpinto.me</a>,
     <span class="p-country-name">United States of America</span>
     <span class="dt-bday">1988-06</span>
     <span class="p-sex">Male</span>
   </span> -->
  </main>

{{ partial "page_footer.html" . }}
{{ partial "site_footer.html" . }}
